<div ng-controller="HomeCtrl" id="Home">

<div id="title0" ng-click="title0Tap()">
  <body style="background-color:slategrey">
<h1><font color="skyblue"><p align="center">Home</p></font></h1>
</body>
</div>

<div id="currentchats" ng-click="currentchatsTap()">
  <div class="list" href="#" ng-click="">
  <div class="item item-divider">
    <body style="background-color:slategrey">
    <font color="skyblue">Current Chats</font>
  </body>
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows2" ng-click="card_with_image_on_left_two_text_rows2Tap()">
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>Current Chat</h2>
    <p>last recieved/sent message here</p>
  </div>
</div>

</div>

<div id="Old Chats" ng-click="OldChatsTap()">
<div class="list" href="#" ng-click="">
  <div class="item item-divider">
    <font color="skyblue">Archived Chats</font>
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows4" ng-click="card_with_image_on_left_two_text_rows4Tap()">
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>Old chat</h2>
    <p>Archived Chat here</p>
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows5" ng-click="card_with_image_on_left_two_text_rows5Tap()">
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>Older chat</h2>
    <p>Archived Chat here</p>
  </div>
</div>

</div>

<div id="button6" ng-click="button6Tap()">
<button class="button button-positive">
  Add Chat
</button>
</div>

</div>
